USE [SqlChallenges]
GO

IF NOT EXISTS (SELECT * FROM SYS.schemas WHERE [name] = 'excelbi')
	BEGIN
		EXECUTE('CREATE SCHEMA excelbi')
	END


CREATE TABLE [excelbi].[pq291](
	[Company] [nvarchar](100) NULL,
	[Target] INT NULL,
	[Month] [nvarchar](20) NULL,
	[Sales] INT NULL
) 
GO

INSERT [excelbi].[pq291] ([Company], [Target], [Month], [Sales]) VALUES (N'Walmart', 500, N'Jan', 90)
INSERT [excelbi].[pq291] ([Company], [Target], [Month], [Sales]) VALUES (NULL, NULL, N'Feb', 100)
INSERT [excelbi].[pq291] ([Company], [Target], [Month], [Sales]) VALUES (NULL, NULL, N'Mar', 60)
GO
